

.form-container {
    
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #bcd4e6;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow-y:scroll;
}




input[type="range"] {
    width: 100%;
    margin: 5px 0;
}

button {
    font-size: 20px;
    background-color: #4CAF50;
    padding: 8px;
    color: white;
    cursor: pointer;
    height: 60px;
    border-radius: 14px;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #45a049;
}

.form-container {
    
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #bcd4e6;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow-y:scroll;
}

/********************************************************************************/

#plantoesContainer {
    margin-bottom: 1.5rem;
    margin: 10px;
    border-radius: 15px;
    background-color: #5d9ae0;

}

.plantao-form {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 14px;
    background-color: #f9f9f9;
}

.plantao-form input {
    flex: 1 1 calc(50% - 1rem);
    min-width: 150px;
}





@media (min-width: 1900px) {

    .form-container {
        max-width: 1650px;
        margin: 10px;
        padding: 10px;
        background-color: #bcd4e6;
        border: 1px solid #ccc;
        border-radius: 15px;
        overflow-y:scroll;
    }

}